* {
  margin: 0;
  padding: 0;
}
i {
  font-style: normal;
}
html,
body,
#app {
  width: 100vw;
  height: 100vh;
}
html {
  font-size: calc(100vw / 20);
}
.layout > header {
  width: 100%;
  height: 2.4rem;
  padding: 0 1.2rem;
  box-sizing: border-box;
  box-shadow: 0 0.05rem 0.3rem 0 #cccccc;
  display: flex;
}
.layout > header .logo {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 0.2rem;
  flex-grow: 0;
}
.layout > header .logo::before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  background-image: url(https://coding-net-production-static-ci.codehub.cn/503dd137-fe4f-4393-8ff8-1ec96400e23f.png?imageMogr2/cut/200x200x0x0);
  background-size: contain;
  background-repeat: no-repeat;
}
.layout > header nav {
  height: 100%;
  flex-grow: 1;
  display: flex;
  gap: 0.8rem;
  justify-content: end;
  align-items: center;
}
.layout > main {
  box-sizing: border-box;
  height: calc(100vh - 2.4rem - 1.8rem);
  padding: 0.65rem;
}
.layout > footer {
  width: 100%;
  text-align: center;
  height: 1.8rem;
  line-height: 1.8rem;
  box-shadow: 0 -0.05rem 0.3rem 0 #cccccc;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
