body {
  background-color: #ccc;
}

.home-search {
  display: flex;
  height: 2.5rem;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0 0.4rem;
  background-color: #fff;
  > span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #66c4ff;
    height: 1.7rem;
    border-radius: 0.8rem;
    box-sizing: border-box;
    color: #66c4ff;
    border-right: none;
    padding-left: 0.5rem;
    i {
      padding-left: 0.5rem;
      color: #aaa;
    }

    span {
      box-sizing: border-box;
      display: flex;
      width: 22%;
      height: 100%;
      align-items: center;
      justify-content: center;
      background-color: #66ccff;
      background: linear-gradient(90deg, #66ccff, #60c6f9);
      border-radius: 0.8rem;
      color: #fff;
    }
  }
}
